.header {
    text-align: left;
}

.container {
    background-color: grey;
}

.car-box {
    background-color: blue;
    width: 200px;
    height: 300px;
    padding: 16px;
}

#car-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 20px;
}

.car-box img {
    width: 100%;
    border-radius: 4px;
}

